absl-py==2.1.0
aiohttp==3.9.3
aioquic-mitmproxy==0.9.20.3
aiosignal==1.3.1
antlr4-python3-runtime==4.9.3
asgiref==3.7.2
asttokens==2.4.1
attrs==23.1.0
audioread==3.0.1
backcall==0.2.0
beautifulsoup4==4.12.2
blinker==1.6.3
Brotli==1.0.9
cachetools==5.3.2
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
cipher==0.1
click==8.1.7
colorama==0.4.6
contourpy==1.1.1
crypto==1.4.1
crypto-utils==1.0.0
cryptography==41.0.4
cycler==0.12.0
debugpy==1.8.0
decorator==4.4.2
defusedxml==0.7.1
distlib==0.3.7
Django==4.2.7
django-environ==0.11.2
einops==0.7.0
executing==2.0.1
filelock==3.12.4
Flask==2.3.3
Flask-Cors==4.0.0
fonttools==4.43.0
frozenlist==1.4.1
fsspec==2023.12.2
gensim==4.3.2
google-auth==2.27.0
google-auth-oauthlib==0.4.6
greenlet==3.0.0
grpcio==1.60.1
h11==0.14.0
h2==4.1.0
h5py==3.10.0
hpack==4.0.0
huggingface-hub==0.21.4
hyperframe==6.0.1
idna==3.4
imageio==2.34.0
imageio-ffmpeg==0.4.9
iniconfig==2.0.0
ipykernel==6.13.0
ipython==8.3.0
itsdangerous==2.1.2
jedi==0.19.1
jellyfish==1.0.1
jieba==0.42.1
Jinja2==3.1.2
joblib==1.3.2
jupyter_client==8.6.0
jupyter_core==5.7.1
kaitaistruct==0.10
kiwisolver==1.4.5
ldap3==2.9.1
librosa==0.7.2
lightning-utilities==0.10.1
llvmlite==0.42.0
Markdown==3.5.2
MarkupSafe==2.1.3
matplotlib==3.8.0
matplotlib-inline==0.1.6
mitmproxy==10.1.1
mitmproxy_rs==0.3.11
mitmproxy-windows==0.3.11
more-itertools==10.2.0
MouseInfo==0.1.3
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.5
Naked==0.1.32
nest-asyncio==1.6.0
networkx==3.1
numba==0.59.0
numpy==1.26.0
oauthlib==3.2.2
omegaconf==2.3.0
openai-whisper==20231117
opencv-python==4.6.0.66
outcome==1.2.0
packaging==23.2
pandas==2.2.1
parso==0.8.3
passlib==1.7.4
pickleshare==0.7.5
Pillow==10.0.1
pip==24.0
platformdirs==3.10.0
playwright==1.39.0
pluggy==1.4.0
proglog==0.1.10
prompt-toolkit==3.0.43
protobuf==3.20.0
psutil==5.9.8
publicsuffix2==2.20191221
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAutoGUI==0.9.54
pycparser==2.21
pycryptodome==3.19.0
pyDeprecate==0.3.2
pydivert==2.1.0
pydub==0.25.1
pyee==11.0.1
PyGetWindow==0.0.9
Pygments==2.17.2
pylsqpack==0.3.17
PyMsgBox==1.0.9
pyOpenSSL==23.2.0
pyparsing==3.1.1
pyperclip==1.8.2
PyQt5==5.15.9
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQt5-stubs==5.15.6.0
pyqt5-tools==5.15.9.3.3
PyRect==0.2.0
PyScreeze==0.1.30
PySocks==1.7.1
pystoi==0.4.1
pytest==8.0.2
python-dateutil==2.8.2
python-dotenv==1.0.0
python3-openid==3.2.0
pytorch-lightning==1.6.2
pytorch-ranger==0.1.1
pytweening==1.0.7
pytz==2024.1
pywin32==306
PyYAML==6.0.1
pyzmq==25.1.2
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
resampy==0.4.2
rsa==4.9
ruamel.yaml==0.17.35
ruamel.yaml.clib==0.2.8
safetensors==0.4.2
scikit-learn==1.4.0
scipy==1.12.0
segtok==1.5.11
selenium==4.13.0
setuptools==69.0.3
shellescape==3.8.1
six==1.16.0
smart-open==7.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
sqlparse==0.4.4
stack-data==0.6.3
sympy==1.12
tabulate==0.9.0
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.2
threadpoolctl==3.2.0
tiktoken==0.6.0
timm==0.5.4
tokenizers==0.15.2
torch==2.2.1+cu118
torchaudio==2.2.1+cu118
torchvision==0.17.1+cu118
tornado==6.3.3
tqdm==4.64.0
traitlets==5.14.1
transformers==4.38.2
trio==0.22.2
trio-websocket==0.11.1
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.1.0
urwid-mitmproxy==2.1.2.1
virtualenv==20.24.5
wcwidth==0.2.13
Werkzeug==3.0.0
wheel==0.42.0
wrapt==1.16.0
wsproto==1.2.0
yake==0.4.8
yarl==1.9.4
zstandard==0.21.0
